__pycache__/
*~
.backup
.examples
.ipynb_checkpoints/

*.cmds
*.csv
*.err
*.fa
*.fasta
*.json*
*.list
*.log
*.out
*.pair
*.pdb*
*.pdf
*.png
*.pptx
*.pse
*.sh
*.silent
*.tasks
*.tar*
*.trb
*.txt
*.xls
*.xlsx
*.yml
*.zip
._*

data
demos
envs
examples
figs

slurm_logs
*temp*
*-Copy1*
test*
old*
run.py
run.sh
.DS_Store

scaffolds
scripts
share
